In [1]:
import pandas as pd

In [2]:
mutations = pd.read_csv('/data/yingfei/cancer_data/mutations_raw_324_final.csv')
print(f'Shape: {mutations.shape}')
mutations.head()

Shape: (692, 325)

,DepMap_ID,ABL1,ACVR1B,AKT1,AKT2,AKT3,ALK,ALOX12B,FAM123B,APC,...,VEGFA,VHL,WHSC1,WHSC1L1,WT1,XPO1,XRCC2,ZNF217,ZNF703,TERC
0,ACH-000001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,ACH-000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,ACH-000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,ACH-000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ACH-000007,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [3]:
cnv_data = pd.read_csv('/data/yingfei/cancer_data/cnv_raw_324_final.csv')
print(f'Shape: {cnv_data.shape}')
cnv_data.head()

Shape: (692, 325)

,DepMap-ID,ABL1,ACVR1B,AKT1,AKT2,AKT3,ALK,ALOX12B,FAM123B,APC,...,TYRO3,U2AF1,VEGFA,VHL,WT1,XPO1,XRCC2,ZNF217,ZNF703,TERC
0,ACH-000001,1,1,1,1,1,0,-1,0,0,...,0,1,-1,0,1,0,0,1,1,0
1,ACH-000002,0,0,0,0,0,0,-1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,ACH-000004,-1,1,-1,1,0,1,-1,0,-1,...,1,1,1,1,-1,1,-1,-1,1,0
3,ACH-000006,0,-1,0,1,1,0,-1,0,-1,...,1,1,1,0,0,0,0,0,1,0
4,ACH-000007,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [4]:
cell_drug_auc = pd.read_csv('/data/yingfei/cancer_data/cell_drug_auc_final_1111.csv')
print(f'Shape: {cell_drug_auc.shape}')
cell_drug_auc.head()

Shape: (692, 386)

,ARXSPAN_ID,JW-7-24-1,KIN001-260,NSC-87877,GNE-317,NAVITOCLAX,PLX-4720,ERK5-IN-1,VX-11E,TGX-221,...,BIX02189,ISPINESIB MESYLATE,KIN001-135,KIN001-206,KIN001-236,KIN001-266,LUMINESPIB,NUTLIN-3A,SGC0946,SL 0101-1
0,ACH-000001,0.778432,0.951321,0.840287,-99999.000000,-99999.000000,0.936410,0.891908,0.402122,0.659600,...,0.982272,0.733492,0.072277,0.983536,-99999.000000,0.651746,0.982084,0.893777,0.983861,0.933035
1,ACH-000002,0.788327,0.874760,0.760137,0.905754,0.930764,0.991068,0.278288,0.972905,0.558774,...,0.899628,0.604228,0.046061,0.918265,0.865628,-99999.000000,0.985921,0.839175,0.988639,0.533204
2,ACH-000004,0.737630,0.938733,0.835441,0.808964,0.966133,0.983552,-99999.000000,0.993912,0.596027,...,0.965245,0.782295,0.366912,0.844979,0.761323,-99999.000000,0.980945,0.946694,0.992605,0.761956
3,ACH-000006,0.176396,0.571569,0.581729,0.585938,0.958510,0.935574,0.600428,-99999.000000,0.596056,...,0.834158,0.605360,0.124930,0.813384,0.782187,-99999.000000,0.971058,0.871277,-99999.000000,0.495020
4,ACH-000007,0.569751,0.755449,0.954924,0.939587,0.965638,0.932666,-99999.000000,0.956481,0.838692,...,0.927519,0.812955,0.719780,0.815099,0.795736,0.860768,0.983317,0.888067,0.987564,0.787948

In [5]:
padel_descriptors = pd.read_csv('padel_descriptors.csv')
print(f'Shape: {padel_descriptors.shape}')
padel_descriptors.head()

Shape: (408, 2326)

,Name,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,(5Z)-7-OXOZEAENOL,0,-0.6541,0.427847,72.1303,53.723446,6,6,48,26,...,0,0,0,0,0,0,0,0,0,0
1,5-FLUOROURACIL,0,-0.8946,0.800309,24.5722,13.401379,0,0,12,9,...,0,0,0,0,0,0,0,0,0,0
2,5FU,0,-0.8946,0.800309,24.5722,13.401379,0,0,12,9,...,0,0,0,0,0,0,0,0,0,0
3,A-443654,0,-1.2817,1.642755,31.1492,63.878239,24,27,53,30,...,0,0,0,0,0,0,0,0,0,0
4,A-770041,0,-3.1259,9.771251,83.5270,98.150927,24,27,85,46,...,0,0,0,0,0,0,0,0,0,0

In [6]:
train_cell_lines = pd.read_csv("train_celllines_v1_1111.txt", sep=" ", header = None)
test_cell_lines = pd.read_csv("test_celllines_v1_1111.txt", sep=" ", header = None)

In [7]:
### Train Data Set
from  itertools import product
train_celllines = train_cell_lines[0].values
drug_names = cell_drug_auc.columns[1:]
train_data= pd.DataFrame(product(train_celllines, drug_names), columns = ['ARXSPAN_ID', 'DRUG_NAME'])
train_data.head()

   ARXSPAN_ID   DRUG_NAME
0  ACH-000001   JW-7-24-1
1  ACH-000001  KIN001-260
2  ACH-000001   NSC-87877
3  ACH-000001     GNE-317
4  ACH-000001  NAVITOCLAX

In [8]:
train_data = train_data.merge(cnv_data, left_on='ARXSPAN_ID', right_on='DepMap-ID', suffixes=(False, False))
train_data.head()

,ARXSPAN_ID,DRUG_NAME,DepMap-ID,ABL1,ACVR1B,AKT1,AKT2,AKT3,ALK,ALOX12B,...,TYRO3,U2AF1,VEGFA,VHL,WT1,XPO1,XRCC2,ZNF217,ZNF703,TERC
0,ACH-000001,JW-7-24-1,ACH-000001,1,1,1,1,1,0,-1,...,0,1,-1,0,1,0,0,1,1,0
1,ACH-000001,KIN001-260,ACH-000001,1,1,1,1,1,0,-1,...,0,1,-1,0,1,0,0,1,1,0
2,ACH-000001,NSC-87877,ACH-000001,1,1,1,1,1,0,-1,...,0,1,-1,0,1,0,0,1,1,0
3,ACH-000001,GNE-317,ACH-000001,1,1,1,1,1,0,-1,...,0,1,-1,0,1,0,0,1,1,0
4,ACH-000001,NAVITOCLAX,ACH-000001,1,1,1,1,1,0,-1,...,0,1,-1,0,1,0,0,1,1,0

In [9]:
train_data = train_data.merge(mutations, left_on='ARXSPAN_ID', right_on='DepMap_ID', suffixes=("_cnv", "_mut"))
train_data.head()

,ARXSPAN_ID,DRUG_NAME,DepMap-ID,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,...,VEGFA_mut,VHL_mut,WHSC1_mut,WHSC1L1_mut,WT1_mut,XPO1_mut,XRCC2_mut,ZNF217_mut,ZNF703_mut,TERC_mut
0,ACH-000001,JW-7-24-1,ACH-000001,1,1,1,1,1,0,-1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1,ACH-000001,KIN001-260,ACH-000001,1,1,1,1,1,0,-1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
2,ACH-000001,NSC-87877,ACH-000001,1,1,1,1,1,0,-1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
3,ACH-000001,GNE-317,ACH-000001,1,1,1,1,1,0,-1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
4,ACH-000001,NAVITOCLAX,ACH-000001,1,1,1,1,1,0,-1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0

In [10]:
train_data = train_data.merge(padel_descriptors, left_on='DRUG_NAME', right_on='Name', how='left', suffixes=(False, False))
train_data.head()

,ARXSPAN_ID,DRUG_NAME,DepMap-ID,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,ACH-000001,JW-7-24-1,ACH-000001,1,1,1,1,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
1,ACH-000001,KIN001-260,ACH-000001,1,1,1,1,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,ACH-000001,NSC-87877,ACH-000001,1,1,1,1,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
3,ACH-000001,GNE-317,ACH-000001,1,1,1,1,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
4,ACH-000001,NAVITOCLAX,ACH-000001,1,1,1,1,1,0,-1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
train_data = train_data.drop(columns = ['DepMap-ID', 'DepMap_ID','Name'])
train_data['auc'] = 0
for i in range(len(train_data)):
    cell_line = train_data['ARXSPAN_ID'].values[i]
    drug_name = train_data['DRUG_NAME'].values[i]
    train_data.loc[i, 'auc'] = cell_drug_auc.loc[cell_drug_auc.ARXSPAN_ID == cell_line, drug_name].values[0]
print(f'Train Data Shape: {train_data.shape}')
train_data.head()

Train Data Shape: (239855, 2976)

,ARXSPAN_ID,DRUG_NAME,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,FAM123B_cnv,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,auc
0,ACH-000001,JW-7-24-1,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.778432
1,ACH-000001,KIN001-260,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.951321
2,ACH-000001,NSC-87877,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.840287
3,ACH-000001,GNE-317,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,-99999.000000
4,ACH-000001,NAVITOCLAX,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,-99999.000000

In [12]:
train_data = train_data.loc[train_data['auc'] >= 0]

In [13]:
print(train_data.shape)

(203918, 2976)

In [14]:
### Test Data Set
test_celllines = test_cell_lines[0].values
drug_names = cell_drug_auc.columns[1:]
test_data= pd.DataFrame(product(test_celllines, drug_names), columns = ['ARXSPAN_ID', 'DRUG_NAME'])
test_data.head()

   ARXSPAN_ID   DRUG_NAME
0  ACH-000802   JW-7-24-1
1  ACH-000802  KIN001-260
2  ACH-000802   NSC-87877
3  ACH-000802     GNE-317
4  ACH-000802  NAVITOCLAX

In [15]:
test_data = test_data.merge(cnv_data, left_on='ARXSPAN_ID', right_on='DepMap-ID', suffixes=(False, False))
test_data.head()

,ARXSPAN_ID,DRUG_NAME,DepMap-ID,ABL1,ACVR1B,AKT1,AKT2,AKT3,ALK,ALOX12B,...,TYRO3,U2AF1,VEGFA,VHL,WT1,XPO1,XRCC2,ZNF217,ZNF703,TERC
0,ACH-000802,JW-7-24-1,ACH-000802,1,0,1,-1,1,1,-1,...,0,-1,0,-1,-1,0,0,1,-1,0
1,ACH-000802,KIN001-260,ACH-000802,1,0,1,-1,1,1,-1,...,0,-1,0,-1,-1,0,0,1,-1,0
2,ACH-000802,NSC-87877,ACH-000802,1,0,1,-1,1,1,-1,...,0,-1,0,-1,-1,0,0,1,-1,0
3,ACH-000802,GNE-317,ACH-000802,1,0,1,-1,1,1,-1,...,0,-1,0,-1,-1,0,0,1,-1,0
4,ACH-000802,NAVITOCLAX,ACH-000802,1,0,1,-1,1,1,-1,...,0,-1,0,-1,-1,0,0,1,-1,0

In [16]:
test_data = test_data.merge(mutations, left_on='ARXSPAN_ID', right_on='DepMap_ID', suffixes=("_cnv", "_mut"))
test_data.head()

,ARXSPAN_ID,DRUG_NAME,DepMap-ID,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,...,VEGFA_mut,VHL_mut,WHSC1_mut,WHSC1L1_mut,WT1_mut,XPO1_mut,XRCC2_mut,ZNF217_mut,ZNF703_mut,TERC_mut
0,ACH-000802,JW-7-24-1,ACH-000802,1,0,1,-1,1,1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,ACH-000802,KIN001-260,ACH-000802,1,0,1,-1,1,1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,ACH-000802,NSC-87877,ACH-000802,1,0,1,-1,1,1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,ACH-000802,GNE-317,ACH-000802,1,0,1,-1,1,1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,ACH-000802,NAVITOCLAX,ACH-000802,1,0,1,-1,1,1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [17]:
test_data = test_data.merge(padel_descriptors, left_on='DRUG_NAME', right_on='Name', how='left', suffixes=(False, False))
test_data.head()

,ARXSPAN_ID,DRUG_NAME,DepMap-ID,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,ACH-000802,JW-7-24-1,ACH-000802,1,0,1,-1,1,1,-1,...,0,0,0,0,0,0,0,0,0,0
1,ACH-000802,KIN001-260,ACH-000802,1,0,1,-1,1,1,-1,...,0,0,0,0,0,0,0,0,0,0
2,ACH-000802,NSC-87877,ACH-000802,1,0,1,-1,1,1,-1,...,0,0,0,0,0,0,0,0,0,0
3,ACH-000802,GNE-317,ACH-000802,1,0,1,-1,1,1,-1,...,0,0,0,0,0,0,0,0,0,0
4,ACH-000802,NAVITOCLAX,ACH-000802,1,0,1,-1,1,1,-1,...,0,0,0,0,0,0,0,0,0,0

In [18]:
test_data = test_data.drop(columns = ['DepMap-ID','DepMap_ID','Name'])
test_data['auc'] = 0
for i in range(len(test_data)):
    cell_line = test_data['ARXSPAN_ID'].values[i]
    drug_name = test_data['DRUG_NAME'].values[i]
    test_data.loc[i, 'auc'] = cell_drug_auc.loc[cell_drug_auc.ARXSPAN_ID == cell_line, drug_name].values[0]
print(f'Test Shape: {test_data.shape}')
test_data.head()

Test Shape: (26565, 2976)

,ARXSPAN_ID,DRUG_NAME,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,FAM123B_cnv,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,auc
0,ACH-000802,JW-7-24-1,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.528562
1,ACH-000802,KIN001-260,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.930958
2,ACH-000802,NSC-87877,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.759249
3,ACH-000802,GNE-317,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,-99999.000000
4,ACH-000802,NAVITOCLAX,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,-99999.000000

In [19]:
test_data = test_data.loc[test_data['auc'] >= 0]

In [20]:
print(test_data.shape)

(22878, 2976)

In [21]:
train_data.to_csv('/data/yingfei/cancer_data/train_data_comb.csv', index = False)
test_data.to_csv('/data/yingfei/cancer_data/test_data_comb.csv', index = False)

In [22]:
pd.read_csv('/data/yingfei/cancer_data/train_data_comb.csv')

,ARXSPAN_ID,DRUG_NAME,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,FAM123B_cnv,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,auc
0,ACH-000001,JW-7-24-1,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.778432
1,ACH-000001,KIN001-260,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.951321
2,ACH-000001,NSC-87877,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.840287
3,ACH-000001,PLX-4720,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.936410
4,ACH-000001,ERK5-IN-1,1,1,1,1,1,0,-1,0,...,0,0,0,0,0,0,0,0,0,0.891908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203913,ACH-001716,KIN001-236,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.956865
203914,ACH-001716,LUMINESPIB,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.975168
203915,ACH-001716,NUTLIN-3A,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.871995
203916,ACH-001716,SGC0946,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.975417
203917,ACH-001716,SL 0101-1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.942321

In [23]:
pd.read_csv('/data/yingfei/cancer_data/test_data_comb.csv')

,ARXSPAN_ID,DRUG_NAME,ABL1_cnv,ACVR1B_cnv,AKT1_cnv,AKT2_cnv,AKT3_cnv,ALK_cnv,ALOX12B_cnv,FAM123B_cnv,...,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880,auc
0,ACH-000802,JW-7-24-1,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.528562
1,ACH-000802,KIN001-260,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.930958
2,ACH-000802,NSC-87877,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.759249
3,ACH-000802,PLX-4720,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.936510
4,ACH-000802,ERK5-IN-1,1,0,1,-1,1,1,-1,0,...,0,0,0,0,0,0,0,0,0,0.823453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22873,ACH-000438,KIN001-266,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.975578
22874,ACH-000438,LUMINESPIB,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.980529
22875,ACH-000438,NUTLIN-3A,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.960501
22876,ACH-000438,SGC0946,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.970524
22877,ACH-000438,SL 0101-1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.706073